In [1]:
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
import re

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population"

In [3]:
response = get(url)
print(response)
from bs4 import BeautifulSoup as bs ## importing Beautiful Soup
html_soup = bs(response.text,'html.parser')## python's in built library HTML parser
type(html_soup)

<Response [200]>

bs4.BeautifulSoup

In [4]:
id_check = html_soup.find("div", class_="mw-content-ltr")
# id_check.prettify

In [5]:
tables=id_check.find('table', class_="wikitable sortable")
# tables.prettify

In [6]:
rows=tables.find_all('tr')
# rows

In [7]:
len(rows)

315

In [8]:
def arr_cleaner(char, arr):
    i=0
    n=char
    length=len(arr)
    while(i<length):
        if(arr[i]==n):
            arr.remove(arr[i])
            length = length -1  
            continue
        i = i+1
    return arr

In [9]:
csv_rows=[]
for values in rows:
    texts=list(values)
    try:
        arr_cleaner('\n', texts)
    except:
        pass
    second=[]
    for val in texts:
        txt=val.text
        txt=re.sub("\n", "", txt)
        txt=re.sub("[[]c]", "", txt)
        second.append(txt)
    csv_rows.append(second)
# print(csv_rows)

In [10]:
csv_rows[0][6]='2016 land area_1(sq mi)'
csv_rows[0][7]='2016 population density_1(/sq mi)'
csv_rows[0].insert(7, '2016 land area_2(km2)')
csv_rows[0].insert(9, '2016 population density_2(/km2)')
csv_rows[0]

['2018rank',
 'City',
 'State',
 '2018estimate',
 '2010Census',
 'Change',
 '2016 land area_1(sq mi)',
 '2016 land area_2(km2)',
 '2016 population density_1(/sq mi)',
 '2016 population density_2(/km2)',
 'Location']

In [11]:
df = pd.DataFrame(csv_rows, columns=csv_rows[0])
df=df.drop(0, axis=0)

In [12]:
df['2016 land area_1(sq mi)']=[s.strip('\xa0sq\xa0 sq mi') for s in df['2016 land area_1(sq mi)']]
df['2016 land area_2(km2)']=[s.strip('\xa0sq\xa0 km2') for s in df['2016 land area_2(km2)']]
df['2016 population density_1(/sq mi)']=[s.strip('\xa0sq\xa0 /sq mi') for s in df['2016 population density_1(/sq mi)']]
df['2016 population density_2(/km2)']=[s.strip('\xa0sq\xa0 /km2') for s in df['2016 population density_2(/km2)']]
df['Change']=[s.strip('\xa0sq\xa0 %') for s in df['Change']]
# df[['2016 land area_1(sq mi)', '2016 land area_2(km2)','2016 population density_1(/sq mi)', '2016 population density_2(/km2)', 'Change']]

In [13]:
df

,2018rank,City,State,2018estimate,2010Census,Change,2016 land area_1(sq mi),2016 land area_2(km2),2016 population density_1(/sq mi),2016 population density_2(/km2),Location
1,1,New York City[d],New York,"8,398,748","8,175,133",+2.74,301.5,780.9,"28,317","10,933",40°39′49″N 73°56′19″W﻿ / ﻿40.6635°N 73.9387°W﻿...
2,2,Los Angeles,California,"3,990,456","3,792,621",+5.22,468.7,"1,213.9","8,484","3,276",34°01′10″N 118°24′39″W﻿ / ﻿34.0194°N 118.4108°...
3,3,Chicago,Illinois,"2,705,994","2,695,598",+0.39,227.3,588.7,"11,900","4,600",41°50′15″N 87°40′54″W﻿ / ﻿41.8376°N 87.6818°W﻿...
4,4,Houston[3],Texas,"2,325,502","2,100,263",+10.72,637.5,"1,651.1","3,613","1,395",29°47′12″N 95°23′27″W﻿ / ﻿29.7866°N 95.3909°W﻿...
5,5,Phoenix,Arizona,"1,660,272","1,445,632",+14.85,517.6,"1,340.6","3,120","1,200",33°34′20″N 112°05′24″W﻿ / ﻿33.5722°N 112.0901°...
6,6,Philadelphia[e],Pennsylvania,"1,584,138","1,526,006",+3.81,134.2,347.6,"11,683","4,511",40°00′34″N 75°08′00″W﻿ / ﻿40.0094°N 75.1333°W﻿...
7,7,San Antonio,Texas,"1,532,233","1,327,407",+15.43,461.0,"1,194.0","3,238","1,250",29°28′21″N 98°31′30″W﻿ / ﻿29.4724°N 98.5251°W﻿...
8,8,San Diego,California,"1,425,976","1,307,402",+9.07,325.2,842.3,"4,325","1,670",32°48′55″N 117°08′06″W﻿ / ﻿32.8153°N 117.1350°...
9,9,Dallas,Texas,"1,345,047","1,197,816",+12.29,340.9,882.9,"3,866","1,493",32°47′36″N 96°45′59″W﻿ / ﻿32.7933°N 96.7665°W﻿...
10,10,San Jose,California,"1,030,119","945,942",+8.90,177.5,459.7,"5,777",",231",37°17′48″N 121°49′08″W﻿ / ﻿37.2967°N 121.8189°...
11,11,Austin,Texas,"964,254","790,390",+22.00,312.7,809.9,"3,031","1,170",30°18′14″N 97°45′16″W﻿ / ﻿30.3039°N 97.7544°W﻿...
12,12,Jacksonville[f],Florida,"903,889","821,784",+9.99,747.4,"1,935.8","1,178",455,30°20′13″N 81°39′42″W﻿ / ﻿30.3369°N 81.6616°W﻿...
13,13,Fort Worth,Texas,"895,008","741,206",+20.75,342.9,888.1,"2,491",96,32°46′53″N 97°20′48″W﻿ / ﻿32.7815°N 97.3467°W﻿...
14,14,Columbus,Ohio,"892,533","787,033",+13.40,218.5,565.9,"3,936","1,520",39°59′07″N 82°59′05″W﻿ / ﻿39.9852°N 82.9848°W﻿...
15,15,San Francisco[g],California,"883,305","805,235",+9.70,46.9,121.5,"18,569","7,170",37°43′38″N 123°01′56″W﻿ / ﻿37.7272°N 123.0322°...
16,16,Charlotte,North Carolina,"872,498","731,424",+19.29,305.4,791.0,"2,757","1,064",35°12′28″N 80°49′52″W﻿ / ﻿35.2078°N 80.8310°W﻿...
17,17,Indianapolis[h],Indiana,"867,125","820,445",+5.69,361.5,936.3,"2,366",914,39°46′36″N 86°08′45″W﻿ / ﻿39.7767°N 86.1459°W﻿...
18,18,Seattle,Washington,"744,955","608,660",+22.39,83.8,17.0,"8,405","3,245",47°37′14″N 122°21′03″W﻿ / ﻿47.6205°N 122.3509°...
19,19,Denver[i],Colorado,"716,492","600,158",+19.38,153.3,397.0,"4,521","1,746",39°45′43″N 104°52′52″W﻿ / ﻿39.7619°N 104.8811°...
20,20,"Washington, D.C.[j]",District of Columbia,"702,455","601,723",+16.74,61.1,158.,"11,148","4,304",38°54′15″N 77°01′02″W﻿ / ﻿38.9041°N 77.0172°W﻿...
21,21,Boston,Massachusetts,"694,583","617,594",+12.47,48.3,125.1,"13,938","5,381",42°19′55″N 71°01′13″W﻿ / ﻿42.3320°N 71.0202°W﻿...
22,22,El Paso,Texas,"682,669","649,121",+5.17,256.8,665.1,"2,660","1,030",31°50′54″N 106°25′37″W﻿ / ﻿31.8484°N 106.4270°...
23,23,Detroit,Michigan,"672,662","713,777",−5.76,138.8,359.5,"4,847","1,871",42°22′59″N 83°06′08″W﻿ / ﻿42.3830°N 83.1022°W﻿...
24,24,Nashville[k],Tennessee,"669,053","601,222",+11.28,475.9,"1,232.6","1,388",536,36°10′18″N 86°47′06″W﻿ / ﻿36.1718°N 86.7850°W﻿...
25,25,Portland,Oregon,"653,115","583,776",+11.88,133.5,345.8,"4,793","1,851",45°32′13″N 122°39′00″W﻿ / ﻿45.5370°N 122.6500°...
26,26,Memphis,Tennessee,"650,618","646,889",+0.58,317.4,822.1,"2,056",794,35°06′10″N 89°58′39″W﻿ / ﻿35.1028°N 89.9774°W﻿...
27,27,Oklahoma City,Oklahoma,"649,021","579,999",+11.90,606.3,"1,570.3","1,053",407,35°28′02″N 97°30′49″W﻿ / ﻿35.4671°N 97.5137°W﻿...
28,28,Las Vegas,Nevada,"644,644","583,756",+10.43,134.4,348.1,"4,709","1,818",36°13′45″N 115°15′36″W﻿ / ﻿36.2292°N 115.2601°...
29,29,Louisville[l],Kentucky,"620,118","597,337",+3.81,263.5,682.5,"2,339",903,38°09′55″N 85°38′51″W﻿ / ﻿38.1654°N 85.6474°W﻿...
30,30,Baltimore[m],Maryland,"602,495","620,961",−2.97,80.9,09.5,"7,598",",934",39°18′00″N 76°36′38″W﻿ / ﻿39.3000°N 76.6105°W﻿...
...,...,...,...,...,...,...,...,...,...,...,...
285,285,Greeley,Colorado,"107,348","92,889",+15.57,47.8,123.8,"2,176",840,40°24′55″N 104°46′11″W﻿ / ﻿40.4153°N 104.7697°...
286,286,Daly City,California,"107,008","101,123",+5.82,7.6,19.7,"14,009","5,409",37°42′03″N 122°27′54″W﻿ / ﻿37.7009°N 122.4650°...
287,287,Meridian,Idaho,"106,804","75,092",+42.23,29.8,77.,"3,584","1,384",43°36′51″N 116°23′56″W﻿ / ﻿43.6142°N 116.3989°...
288,288,Lewisville,Texas,"106,586","95,290",+11.85,36.7,95.1,"2,852","1,101",33°02′48″N 96°58′54″W﻿ / ﻿33.0466°N 96.9818°W﻿...
289,289,Davie[ac],Florida,"106,558","91,992",+15.83,34.9,90.4,"2,919","1,127",26°04′45″N 80°17′06″W﻿ / ﻿26.0791°N 80.2850°W﻿...
290,290,West Covina,California,"106,311","106,098",+0.20,16.0,41.4,"6,740",",600",34°03′21″N 117°54′36″W﻿ / ﻿34.0559°N 117.9099°...
291,291,League City,Texas,"106,244","83,560",+27.15,51.2,132.6,"1,992",769,29°29′24″N 95°06′33″W﻿ / ﻿29.4901°N 95.1091°W﻿...
292,292,Tyler,Texas,"105,729","96,900",+9.11,56.6,146.6,"1,852",715,32°19′02″N 95°18′21″W﻿ / ﻿32.3173°N 95.3059°W﻿...
293,293,Norwalk,California,"105,120","105,549",−0.41,9.7,5.1,"10,946","4,226",33°54′27″N 118°05′01″W﻿ / ﻿33.9076°N 118.0835°...
294,294,San Mateo,California,"105,025","97,207",+8.04,12.1,31.3,"8,592","3,317",37°33′37″N 122°18′38″W﻿ / ﻿37.5603°N 122.3106°...
295,295,Green Bay,Wisconsin,"104,879","104,057",+0.79,45.4,117.6,"2,316",894,44°31′15″N 87°59′03″W﻿ / ﻿44.5207°N 87.9842°W﻿...
296,296,Wichita Falls,Texas,"104,576","104,553",+0.02,72.2,187.0,"1,450",560,33°54′24″N 98°31′33″W﻿ / ﻿33.9067°N 98.5259°W﻿...
297,297,Sparks,Nevada,"104,246","90,264",+15.49,35.9,93.0,"2,810","1,080",39°33′16″N 119°44′08″W﻿ / ﻿39.5544°N 119.7356°...
298,298,Lakewood[ad],New Jersey,"104,157","92,843",+12.19,24.7,64.0,"4,079","1,575",40°04′38″N 74°12′01″W﻿ / ﻿40.0771°N 74.2004°W﻿...
299,299,Burbank,California,"103,695","103,340",+0.34,17.4,45.1,"6,003",",318",34°11′24″N 118°19′35″W﻿ / ﻿34.1901°N 118.3264°...
300,300,Rialto,California,"103,440","99,171",+4.30,22.3,57.8,"4,633","1,789",34°06′42″N 117°23′18″W﻿ / ﻿34.1118°N 117.3883°...
301,301,Allen,Texas,"103,383","84,246",+22.72,27.1,70.,"3,715","1,434",33°05′59″N 96°39′47″W﻿ / ﻿33.0997°N 96.6631°W﻿...
302,302,El Cajon,California,"103,241","99,478",+3.78,14.5,37.6,"7,156",",763",32°48′06″N 116°57′37″W﻿ / ﻿32.8017°N 116.9604°...
303,303,Las Cruces,New Mexico,"102,926","97,618",+5.44,76.9,199.,"1,323",511,32°19′35″N 106°47′23″W﻿ / ﻿32.3264°N 106.7897°...
304,304,Renton,Washington,"102,153","90,927",+12.35,23.4,60.6,"4,314","1,666",47°28′34″N 122°11′31″W﻿ / ﻿47.4761°N 122.1920°...
305,305,Davenport,Iowa,"102,085","99,685",+2.41,62.9,162.9,"1,631",630,41°33′15″N 90°36′14″W﻿ / ﻿41.5541°N 90.6040°W﻿...
306,306,South Bend,Indiana,"101,860","101,168",+0.68,41.4,107.,"2,457",949,41°40′37″N 86°16′08″W﻿ / ﻿41.6769°N 86.2690°W﻿...
307,307,Vista,California,"101,224","93,834",+7.88,18.7,48.4,"5,436",",099",33°11′22″N 117°14′19″W﻿ / ﻿33.1895°N 117.2386°...
308,308,Tuscaloosa,Alabama,"101,113","90,468",+11.77,71.7,185.7,"1,399",540,33°12′23″N 87°32′05″W﻿ / ﻿33.2065°N 87.5346°W﻿...
309,309,Clinton[ae],Michigan,"100,800","96,796",+4.14,28.1,72.8,"3,573","1,380",42°35′25″N 82°55′01″W﻿ / ﻿42.5903°N 82.9170°W﻿...
310,310,Edison[ad],New Jersey,"100,693","99,967",+0.73,30.1,78.0,"3,389","1,309",40°30′14″N 74°20′58″W﻿ / ﻿40.5040°N 74.3494°W﻿...
311,311,Woodbridge[ad],New Jersey,"100,450","99,585",+0.87,23.3,60.3,"4,351","1,680",40°33′39″N 74°17′34″W﻿ / ﻿40.5607°N 74.2927°W﻿...
312,312,San Angelo,Texas,"100,215","93,200",+7.53,59.9,155.1,"1,681",649,31°26′28″N 100°27′02″W﻿ / ﻿31.4411°N 100.4505°...
313,313,Kenosha,Wisconsin,"100,164","99,218",+0.95,28.0,72.5,"3,577","1,381",42°34′56″N 87°50′44″W﻿ / ﻿42.5822°N 87.8456°W﻿...
314,314,Vacaville,California,"100,154","92,428",+8.36,29.0,75.1,"3,449","1,33",38°21′14″N 121°58′22″W﻿ / ﻿38.3539°N 121.9728°...